<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hilo_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hilo_v2.Properties.Settings>
            <setting name="apikey" serializeAs="String">
                <value />
            </setting>
            <setting name="basebet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pattern" serializeAs="String">
                <value>5,5,5</value>
            </setting>
            <setting name="startcard" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="currency" serializeAs="String">
                <value>btc</value>
            </setting>
            <setting name="startcardsuit" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="betdeley" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="guessdelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gamecountstop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeedcheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopAutoValue" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoCashout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PauseMulti" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IncrementLoss" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResettoBaseWin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetBaseStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Seedxbets" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SeedxLose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeedxWin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PauseMulticheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CashoutcheckBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopAutocheckBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopWincheckBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mirror" serializeAs="String">
                <value>stake.com</value>
            </setting>
            <setting name="clientseed" serializeAs="String">
                <value />
            </setting>
            <setting name="betIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="afterbetsOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lossesIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="afterlossesOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="losesteakIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="afterlosetreakOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resetBasewinstreakOf" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResetBasewinstreakcheckBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resetBasewinsOf" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stopBalanceOver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stopBalanceUnder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stopProfitBet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stopLossBet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stopIfProfitOver" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playSoundwinCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playSoundpatternCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="winIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="winstreakIncrement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="afterwinsOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="afterwinstreakOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResetBaseLossesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestBaseLosestreakCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resetBaselossesOf" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="resetBaselosestreakOf" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ResetBaseLossamountCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetBaseWinamountCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resetBaseLossamountOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resetBaseWinamountOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAfterWinsOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAfterWinstreakOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAfterLossesOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAfterLosestreakOf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cookie" serializeAs="String">
                <value />
            </setting>
            <setting name="Agent" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Hilo_v2.Properties.Settings>
    </userSettings>
</configuration>